In [78]:
pip install plotly

Requirement already satisfied: plotly in c:\users\navneet chauhan\anaconda3\anoconda\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\navneet chauhan\anaconda3\anoconda\lib\site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [79]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np
import pandas as pd

In [80]:
match=pd.read_csv('C:/Users/Navneet Chauhan/Downloads/archive (4)/matches.csv')

In [81]:
delivery=pd.read_csv('C:/Users/Navneet Chauhan/Downloads/archive (4)/deliveries.csv')

In [82]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [83]:
match.shape

(756, 18)

In [84]:
delivery.shape

(179078, 21)

In [85]:
ipl=delivery.merge(match, left_on='match_id', right_on='id')

In [86]:
ipl.shape

(179078, 39)

In [87]:
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [88]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'Season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3'],
      dtype='object')

In [89]:
top50=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()

In [90]:
top50

['V Kohli',
 'SK Raina',
 'RG Sharma',
 'DA Warner',
 'S Dhawan',
 'CH Gayle',
 'MS Dhoni',
 'RV Uthappa',
 'AB de Villiers',
 'G Gambhir',
 'AM Rahane',
 'KD Karthik',
 'SR Watson',
 'AT Rayudu',
 'YK Pathan',
 'BB McCullum',
 'PA Patel',
 'MK Pandey',
 'KA Pollard',
 'Yuvraj Singh',
 'V Sehwag',
 'M Vijay',
 'SE Marsh',
 'JH Kallis',
 'DR Smith',
 'SR Tendulkar',
 'SV Samson',
 'R Dravid',
 'AC Gilchrist',
 'SPD Smith',
 'JP Duminy',
 'KL Rahul',
 'MEK Hussey',
 'RA Jadeja',
 'DA Miller',
 'F du Plessis',
 'DPMD Jayawardene',
 'RR Pant',
 'WP Saha',
 'AJ Finch',
 'SS Iyer',
 'MK Tiwary',
 'KC Sangakkara',
 'NV Ojha',
 'Mandeep Singh',
 'DJ Bravo',
 'Q de Kock',
 'KK Nair',
 'AD Russell',
 'S Badrinath']

In [91]:
new_ipl=ipl[ipl['batsman'].isin(top50)]

In [92]:
new_ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179071,11415,2,Chennai Super Kings,Mumbai Indians,19,6,RA Jadeja,SR Watson,JJ Bumrah,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179072,11415,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [93]:
new_ipl.shape

(106737, 39)

In [94]:
# Calculating strik rate
runs=new_ipl.groupby('batsman')['batsman_runs'].sum()

In [95]:
runs

batsman
AB de Villiers      4428
AC Gilchrist        2069
AD Russell          1445
AJ Finch            1744
AM Rahane           3850
AT Rayudu           3326
BB McCullum         2893
CH Gayle            4560
DA Miller           1875
DA Warner           4741
DJ Bravo            1498
DPMD Jayawardene    1808
DR Smith            2385
F du Plessis        1874
G Gambhir           4223
JH Kallis           2427
JP Duminy           2041
KA Pollard          2784
KC Sangakkara       1687
KD Karthik          3688
KK Nair             1470
KL Rahul            2013
M Vijay             2590
MEK Hussey          1977
MK Pandey           2872
MK Tiwary           1697
MS Dhoni            4477
Mandeep Singh       1547
NV Ojha             1555
PA Patel            2874
Q de Kock           1489
R Dravid            2174
RA Jadeja           1951
RG Sharma           4914
RR Pant             1792
RV Uthappa          4446
S Badrinath         1441
S Dhawan            4632
SE Marsh            2489
SK Raina            5415
SPD Smith           2047
SR Tendulkar        2334
SR Watson           3614
SS Iyer             1714
SV Samson           2235
V Kohli             5434
V Sehwag            2728
WP Saha             1780
YK Pathan           3241
Yuvraj Singh        2765
Name: batsman_runs, dtype: int64

In [96]:
balls=new_ipl.groupby('batsman')['batsman_runs'].count()

In [97]:
balls

batsman
AB de Villiers      2977
AC Gilchrist        1555
AD Russell           803
AJ Finch            1372
AM Rahane           3215
AT Rayudu           2681
BB McCullum         2272
CH Gayle            3131
DA Miller           1376
DA Warner           3398
DJ Bravo            1193
DPMD Jayawardene    1522
DR Smith            1803
F du Plessis        1499
G Gambhir           3524
JH Kallis           2291
JP Duminy           1680
KA Pollard          1964
KC Sangakkara       1424
KD Karthik          2890
KK Nair             1160
KL Rahul            1465
M Vijay             2164
MEK Hussey          1648
MK Pandey           2425
MK Tiwary           1489
MS Dhoni            3318
Mandeep Singh       1254
NV Ojha             1360
PA Patel            2444
Q de Kock           1136
R Dravid            1918
RA Jadeja           1632
RG Sharma           3816
RR Pant             1104
RV Uthappa          3492
S Badrinath         1245
S Dhawan            3776
SE Marsh            1913
SK Raina            4044
SPD Smith           1616
SR Tendulkar        2044
SR Watson           2639
SS Iyer             1370
SV Samson           1728
V Kohli             4211
V Sehwag            1833
WP Saha             1382
YK Pathan           2334
Yuvraj Singh        2207
Name: batsman_runs, dtype: int64

In [98]:
sr=(runs/balls)*100

In [99]:
sr=sr.reset_index()

In [100]:
sr.rename(columns={'batsman_runs':'SR'}, inplace=True)
sr.head()

          batsman          SR
0  AB de Villiers  148.740343
1    AC Gilchrist  133.054662
2      AD Russell  179.950187
3        AJ Finch  127.113703
4       AM Rahane  119.751166

In [101]:
# Calculating avg.
# avg=(total number of runs)/(total number of outs)
# Calcutating number of outs for top 50 batsman
out=ipl[ipl['player_dismissed'].isin(top50)]

In [102]:
out.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
116,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
160,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,4,Mandeep Singh,CH Gayle,Rashid Khan,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [103]:
nouts=out['player_dismissed'].value_counts()

In [104]:
nouts

SK Raina            162
RG Sharma           155
RV Uthappa          153
V Kohli             143
S Dhawan            137
G Gambhir           136
KD Karthik          135
PA Patel            126
AM Rahane           116
SR Watson           115
AT Rayudu           115
Yuvraj Singh        111
AB de Villiers      110
YK Pathan           110
DA Warner           110
CH Gayle            109
MS Dhoni            105
BB McCullum         104
V Sehwag             99
M Vijay              98
MK Pandey            97
KA Pollard           97
JH Kallis            85
DR Smith             84
RA Jadeja            80
SV Samson            80
R Dravid             77
AC Gilchrist         76
NV Ojha              75
WP Saha              74
SR Tendulkar         69
Mandeep Singh        68
AJ Finch             67
KC Sangakkara        65
DJ Bravo             64
DPMD Jayawardene     64
SE Marsh             63
F du Plessis         59
MK Tiwary            59
KK Nair              59
SS Iyer              55
DA Miller            55
SPD Smith            54
MEK Hussey           51
JP Duminy            51
RR Pant              48
Q de Kock            48
S Badrinath          47
KL Rahul             47
AD Russell           42
Name: player_dismissed, dtype: int64

In [105]:
avg=runs/nouts
avg.head()

AB de Villiers    40.254545
AC Gilchrist      27.223684
AD Russell        34.404762
AJ Finch          26.029851
AM Rahane         33.189655
dtype: float64

In [106]:
avg=avg.reset_index()
avg.head()

            index          0
0  AB de Villiers  40.254545
1    AC Gilchrist  27.223684
2      AD Russell  34.404762
3        AJ Finch  26.029851
4       AM Rahane  33.189655

In [107]:
avg.rename(columns={'index':'batsman',0:'avg'}, inplace=True)

In [108]:
avg.head()

          batsman        avg
0  AB de Villiers  40.254545
1    AC Gilchrist  27.223684
2      AD Russell  34.404762
3        AJ Finch  26.029851
4       AM Rahane  33.189655

In [109]:
avg=avg.merge(sr, on='batsman')

In [110]:
avg.head()

          batsman        avg          SR
0  AB de Villiers  40.254545  148.740343
1    AC Gilchrist  27.223684  133.054662
2      AD Russell  34.404762  179.950187
3        AJ Finch  26.029851  127.113703
4       AM Rahane  33.189655  119.751166

In [111]:
#trace=go.Scatter(x=avg['avg'], y=avg['SR'], mode='markers')
# Adding text to point
#trace=go.Scatter(x=avg['avg'], y=avg['SR'], mode='markers',text=avg['batsman'])
# Adding color to point
#trace=go.Scatter(x=avg['avg'], y=avg['SR'], mode='markers',text=avg['batsman'], marker={'color':'#00a65a'})
# Increasing size
trace=go.Scatter(x=avg['avg'], y=avg['SR'], mode='markers',text=avg['batsman'], marker={'color':'#00a65a', 'size':16})
data=[trace]
layout=go.Layout(title='Batsman Avg vs SR', xaxis={'title':'Batsman Average'}, yaxis={'title':'Batsman Strike Rate'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='myfile.html')

'myfile.html'

In [112]:
# Year by year batsman Performance
single=ipl[ipl['batsman']=='V Kohli']
performance=single.groupby('Season')['batsman_runs'].sum().reset_index()


single1=ipl[ipl['batsman']=='MS Dhoni']
performance1=single1.groupby('Season')['batsman_runs'].sum().reset_index()
performance1

      Season  batsman_runs
0   IPL-2008           414
1   IPL-2009           332
2   IPL-2010           287
3   IPL-2011           392
4   IPL-2012           357
5   IPL-2013           461
6   IPL-2014           371
7   IPL-2015           372
8   IPL-2016           284
9   IPL-2017           290
10  IPL-2018           481
11  IPL-2019           436

In [113]:
performance.rename(columns={'batsman_runs':'total_runs'}, inplace=True)
performance1.rename(columns={'batsman_runs':'total_runs'}, inplace=True)

In [114]:
performance

      Season  total_runs
0   IPL-2008         165
1   IPL-2009         246
2   IPL-2010         307
3   IPL-2011         557
4   IPL-2012         364
5   IPL-2013         639
6   IPL-2014         359
7   IPL-2015         505
8   IPL-2016         973
9   IPL-2017         308
10  IPL-2018         539
11  IPL-2019         472

In [115]:
# Plot lines
#trace=go.Scatter(x=performance['Season'], y=performance['total_runs'], mode='lines', marker={'color':'#00a65a'})
trace=go.Scatter(x=performance['Season'], y=performance['total_runs'], mode='lines+markers', marker={'color':'#00a65a'}, name='V Kohli')
trace1=go.Scatter(x=performance1['Season'], y=performance1['total_runs'], mode='lines+markers', name='MS Dhoni')
data=[trace, trace1]
layout=go.Layout(title='Year by year performance',
                xaxis={'title':'Season'},
                yaxis={'title':'Total_runs'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [116]:
# Multiple lines charts

def batsman_comp(*name):
    data=[]
    for i in name:
        single=ipl[ipl['batsman']==i]
        performance=single.groupby('Season')['batsman_runs'].sum().reset_index()
        trace=go.Scatter(x=performance['Season'], y=performance['batsman_runs'], mode='lines+markers',
                        name=i)
        data.append(trace)
    layout=go.Layout(title='Batsman records comparators', xaxis={'title':'Season'}, yaxis={'title':'Runs'})
    fig=go.Figure(data=data, layout=layout)
    pyo.plot(fig, filename='year_by_year')

In [117]:
batsman_comp('V Kohli', 'RG Sharma', 'DA Warner', 'MS Dhoni')

C:\Users\Navneet Chauhan\anaconda3\anoconda\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `year_by_year` didn't end with .html. Adding .html to the end of your file.

In [118]:
top10=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.tolist()
top10

['V Kohli',
 'SK Raina',
 'RG Sharma',
 'DA Warner',
 'S Dhawan',
 'CH Gayle',
 'MS Dhoni',
 'RV Uthappa',
 'AB de Villiers',
 'G Gambhir']

In [119]:
top10_df=ipl[ipl['batsman'].isin(top10)]

In [120]:
top10_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179024,11415,2,Chennai Super Kings,Mumbai Indians,12,2,MS Dhoni,SR Watson,RD Chahar,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179025,11415,2,Chennai Super Kings,Mumbai Indians,12,3,MS Dhoni,SR Watson,RD Chahar,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179026,11415,2,Chennai Super Kings,Mumbai Indians,12,4,MS Dhoni,SR Watson,RD Chahar,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179027,11415,2,Chennai Super Kings,Mumbai Indians,12,5,MS Dhoni,SR Watson,RD Chahar,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179029,11415,2,Chennai Super Kings,Mumbai Indians,13,1,MS Dhoni,SR Watson,HH Pandya,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [121]:
top10_score=top10_df.groupby('batsman')['batsman_runs'].sum().reset_index()
top10_score

          batsman  batsman_runs
0  AB de Villiers          4428
1        CH Gayle          4560
2       DA Warner          4741
3       G Gambhir          4223
4        MS Dhoni          4477
5       RG Sharma          4914
6      RV Uthappa          4446
7        S Dhawan          4632
8        SK Raina          5415
9         V Kohli          5434

In [122]:
trace=go.Bar(x=top10_score['batsman'], y=top10_score['batsman_runs'])
data=[trace]
layout=go.Layout(title='Top 10 ipl batsman', xaxis={'title':'Batsman'}, yaxis={'title':'Batsman_runs'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [123]:
# there are 3 types of bar graphs

iw=top10_df.groupby(['batsman', 'inning'])['batsman_runs'].sum().reset_index()
mask1=iw['inning']==1
mask2=iw['inning']==2

one=iw[mask1]
two=iw[mask2]

In [124]:
one.rename(columns={'batsman_runs':'1innings'}, inplace=True)
two.rename(columns={'batsman_runs':'2innings'}, inplace=True)
final=one.merge(two, on='batsman')[['batsman', '1innings', '2innings']]
final

C:\Users\Navneet Chauhan\AppData\Local\Temp\ipykernel_11060\2832265160.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Navneet Chauhan\AppData\Local\Temp\ipykernel_11060\2832265160.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          batsman  1innings  2innings
0  AB de Villiers      2616      1799
1        CH Gayle      2632      1903
2       DA Warner      2571      2170
3       G Gambhir      1759      2464
4        MS Dhoni      2632      1845
5       RG Sharma      2837      2077
6      RV Uthappa      1822      2622
7        S Dhawan      2690      1942
8        SK Raina      3108      2299
9         V Kohli      2876      2553

In [125]:
trace1=go.Bar(x=final['batsman'], y=final['1innings'], name='1innings', marker={'color':'#00a65a'})
trace2=go.Bar(x=final['batsman'], y=final['2innings'], name='2innings', marker={'color':'#a6a65a'})
data=[trace1, trace2]
layout=go.Layout(title='Inning wise Score', xaxis={'title':'Bastsman'}, yaxis={'title':'Runs'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [126]:
new_ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179071,11415,2,Chennai Super Kings,Mumbai Indians,19,6,RA Jadeja,SR Watson,JJ Bumrah,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179072,11415,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [127]:
avg

             batsman        avg          SR
0     AB de Villiers  40.254545  148.740343
1       AC Gilchrist  27.223684  133.054662
2         AD Russell  34.404762  179.950187
3           AJ Finch  26.029851  127.113703
4          AM Rahane  33.189655  119.751166
5          AT Rayudu  28.921739  124.058187
6        BB McCullum  27.817308  127.332746
7           CH Gayle  41.834862  145.640370
8          DA Miller  34.090909  136.264535
9          DA Warner  43.100000  139.523249
10          DJ Bravo  23.406250  125.565801
11  DPMD Jayawardene  28.250000  118.791064
12          DR Smith  28.392857  132.279534
13      F du Plessis  31.762712  125.016678
14         G Gambhir  31.051471  119.835414
15         JH Kallis  28.552941  105.936272
16         JP Duminy  40.019608  121.488095
17        KA Pollard  28.701031  141.751527
18     KC Sangakkara  25.953846  118.469101
19        KD Karthik  27.318519  127.612457
20           KK Nair  24.915254  126.724138
21          KL Rahul  42.829787  137.406143
22           M Vijay  26.428571  119.685767
23        MEK Hussey  38.764706  119.963592
24         MK Pandey  29.608247  118.432990
25         MK Tiwary  28.762712  113.969107
26          MS Dhoni  42.638095  134.930681
27     Mandeep Singh  22.750000  123.365231
28           NV Ojha  20.733333  114.338235
29          PA Patel  22.809524  117.594108
30         Q de Kock  31.020833  131.073944
31          R Dravid  28.233766  113.347237
32         RA Jadeja  24.387500  119.546569
33         RG Sharma  31.703226  128.773585
34           RR Pant  37.333333  162.318841
35        RV Uthappa  29.058824  127.319588
36       S Badrinath  30.659574  115.742972
37          S Dhawan  33.810219  122.669492
38          SE Marsh  39.507937  130.109775
39          SK Raina  33.425926  133.902077
40         SPD Smith  37.907407  126.670792
41      SR Tendulkar  33.826087  114.187867
42         SR Watson  31.426087  136.945813
43           SS Iyer  31.163636  125.109489
44         SV Samson  27.937500  129.340278
45           V Kohli  38.000000  129.042983
46          V Sehwag  27.555556  148.827059
47           WP Saha  24.054054  128.798842
48         YK Pathan  29.463636  138.860326
49      Yuvraj Singh  24.909910  125.283190

In [128]:
new_ipl=new_ipl[new_ipl['batsman_runs']==6]
six=new_ipl.groupby('batsman')['batsman_runs'].count().reset_index()

In [129]:
six.rename(columns={'batsman_runs':'sixes'}, inplace=True)

In [130]:
six

             batsman  sixes
0     AB de Villiers    214
1       AC Gilchrist     92
2         AD Russell    119
3           AJ Finch     67
4          AM Rahane     74
5          AT Rayudu    120
6        BB McCullum    129
7           CH Gayle    327
8          DA Miller     87
9          DA Warner    181
10          DJ Bravo     60
11  DPMD Jayawardene     40
12          DR Smith    117
13      F du Plessis     59
14         G Gambhir     59
15         JH Kallis     44
16         JP Duminy     79
17        KA Pollard    175
18     KC Sangakkara     27
19        KD Karthik    101
20           KK Nair     39
21          KL Rahul     81
22           M Vijay     91
23        MEK Hussey     52
24         MK Pandey     76
25         MK Tiwary     40
26          MS Dhoni    207
27     Mandeep Singh     33
28           NV Ojha     79
29          PA Patel     49
30         Q de Kock     54
31          R Dravid     28
32         RA Jadeja     65
33         RG Sharma    194
34           RR Pant     94
35        RV Uthappa    156
36       S Badrinath     28
37          S Dhawan     96
38          SE Marsh     78
39          SK Raina    195
40         SPD Smith     49
41      SR Tendulkar     29
42         SR Watson    177
43           SS Iyer     67
44         SV Samson     89
45           V Kohli    191
46          V Sehwag    106
47           WP Saha     59
48         YK Pathan    161
49      Yuvraj Singh    149

In [131]:
x=avg.merge(six, on='batsman')

In [132]:
x

             batsman        avg          SR  sixes
0     AB de Villiers  40.254545  148.740343    214
1       AC Gilchrist  27.223684  133.054662     92
2         AD Russell  34.404762  179.950187    119
3           AJ Finch  26.029851  127.113703     67
4          AM Rahane  33.189655  119.751166     74
5          AT Rayudu  28.921739  124.058187    120
6        BB McCullum  27.817308  127.332746    129
7           CH Gayle  41.834862  145.640370    327
8          DA Miller  34.090909  136.264535     87
9          DA Warner  43.100000  139.523249    181
10          DJ Bravo  23.406250  125.565801     60
11  DPMD Jayawardene  28.250000  118.791064     40
12          DR Smith  28.392857  132.279534    117
13      F du Plessis  31.762712  125.016678     59
14         G Gambhir  31.051471  119.835414     59
15         JH Kallis  28.552941  105.936272     44
16         JP Duminy  40.019608  121.488095     79
17        KA Pollard  28.701031  141.751527    175
18     KC Sangakkara  25.953846  118.469101     27
19        KD Karthik  27.318519  127.612457    101
20           KK Nair  24.915254  126.724138     39
21          KL Rahul  42.829787  137.406143     81
22           M Vijay  26.428571  119.685767     91
23        MEK Hussey  38.764706  119.963592     52
24         MK Pandey  29.608247  118.432990     76
25         MK Tiwary  28.762712  113.969107     40
26          MS Dhoni  42.638095  134.930681    207
27     Mandeep Singh  22.750000  123.365231     33
28           NV Ojha  20.733333  114.338235     79
29          PA Patel  22.809524  117.594108     49
30         Q de Kock  31.020833  131.073944     54
31          R Dravid  28.233766  113.347237     28
32         RA Jadeja  24.387500  119.546569     65
33         RG Sharma  31.703226  128.773585    194
34           RR Pant  37.333333  162.318841     94
35        RV Uthappa  29.058824  127.319588    156
36       S Badrinath  30.659574  115.742972     28
37          S Dhawan  33.810219  122.669492     96
38          SE Marsh  39.507937  130.109775     78
39          SK Raina  33.425926  133.902077    195
40         SPD Smith  37.907407  126.670792     49
41      SR Tendulkar  33.826087  114.187867     29
42         SR Watson  31.426087  136.945813    177
43           SS Iyer  31.163636  125.109489     67
44         SV Samson  27.937500  129.340278     89
45           V Kohli  38.000000  129.042983    191
46          V Sehwag  27.555556  148.827059    106
47           WP Saha  24.054054  128.798842     59
48         YK Pathan  29.463636  138.860326    161
49      Yuvraj Singh  24.909910  125.283190    149

In [133]:
trace=go.Scatter(x=x['avg'], y=x['SR'], mode='markers' , text=x['batsman'] ,marker={'size':x['sixes']})
data=[trace]
layout=go.Layout(title='Bubble Chart', xaxis={'title':'Avg'}, yaxis={'title':'SR'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [134]:
match_agg=delivery.groupby(['match_id'])['total_runs'].sum().reset_index()
season_wise=match_agg.merge(match, left_on='match_id', right_on='id')[['match_id', 'total_runs', 'Season']]

In [135]:
season_wise

     match_id  total_runs    Season
0           1         379  IPL-2017
1           2         371  IPL-2017
2           3         367  IPL-2017
3           4         327  IPL-2017
4           5         299  IPL-2017
..        ...         ...       ...
751     11347         280  IPL-2019
752     11412         276  IPL-2019
753     11413         341  IPL-2019
754     11414         317  IPL-2019
755     11415         309  IPL-2019

[756 rows x 3 columns]

In [136]:
#trace=go.Box(x=season_wise['total_runs'], name="All Season", marker={'color':'#00a65a'})
trace1=go.Box(x=season_wise[season_wise['Season']=='IPL-2017']['total_runs'], name="IPL-2017", marker={'color':'#00a65a'})
trace2=go.Box(x=season_wise[season_wise['Season']=='IPL-2019']['total_runs'], name="IPL-2019")
data=[trace1, trace2]
layout=go.Layout(title='Total Score Analisis', xaxis={'title':'Total score'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [143]:
# Distplot
import plotly.figure_factory as ff
hist_data=[avg['avg'], avg['SR']]

In [144]:
hist_data

[0     40.254545
 1     27.223684
 2     34.404762
 3     26.029851
 4     33.189655
 5     28.921739
 6     27.817308
 7     41.834862
 8     34.090909
 9     43.100000
 10    23.406250
 11    28.250000
 12    28.392857
 13    31.762712
 14    31.051471
 15    28.552941
 16    40.019608
 17    28.701031
 18    25.953846
 19    27.318519
 20    24.915254
 21    42.829787
 22    26.428571
 23    38.764706
 24    29.608247
 25    28.762712
 26    42.638095
 27    22.750000
 28    20.733333
 29    22.809524
 30    31.020833
 31    28.233766
 32    24.387500
 33    31.703226
 34    37.333333
 35    29.058824
 36    30.659574
 37    33.810219
 38    39.507937
 39    33.425926
 40    37.907407
 41    33.826087
 42    31.426087
 43    31.163636
 44    27.937500
 45    38.000000
 46    27.555556
 47    24.054054
 48    29.463636
 49    24.909910
 Name: avg, dtype: float64,
 0     148.740343
 1     133.054662
 2     179.950187
 3     127.113703
 4     119.751166
 5     124.058187
 6     127.332746
 7     145.640370
 8     136.264535
 9     139.523249
 10    125.565801
 11    118.791064
 12    132.279534
 13    125.016678
 14    119.835414
 15    105.936272
 16    121.488095
 17    141.751527
 18    118.469101
 19    127.612457
 20    126.724138
 21    137.406143
 22    119.685767
 23    119.963592
 24    118.432990
 25    113.969107
 26    134.930681
 27    123.365231
 28    114.338235
 29    117.594108
 30    131.073944
 31    113.347237
 32    119.546569
 33    128.773585
 34    162.318841
 35    127.319588
 36    115.742972
 37    122.669492
 38    130.109775
 39    133.902077
 40    126.670792
 41    114.187867
 42    136.945813
 43    125.109489
 44    129.340278
 45    129.042983
 46    148.827059
 47    128.798842
 48    138.860326
 49    125.283190
 Name: SR, dtype: float64]

In [146]:
group_labels=['Average', 'Strike Rate']
#fig=ff.create_distplot(hist_data, group_labels)
fig=ff.create_distplot(hist_data, group_labels, bin_size=[10, 20])
pyo.plot(fig)

'temp-plot.html'

In [148]:
x=delivery.groupby('batsman')['batsman_runs'].count()>150
x=x[x].index.tolist()

In [149]:
x

['A Ashish Reddy',
 'A Mishra',
 'A Symonds',
 'AA Jhunjhunwala',
 'AB Agarkar',
 'AB de Villiers',
 'AC Gilchrist',
 'AD Mathews',
 'AD Russell',
 'AJ Finch',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AP Tare',
 'AR Patel',
 'AS Raut',
 'AS Yadav',
 'AT Rayudu',
 'Azhar Mahmood',
 'B Chipli',
 'B Kumar',
 'BA Stokes',
 'BB McCullum',
 'BJ Hodge',
 'C Ingram',
 'C de Grandhomme',
 'CA Lynn',
 'CA Pujara',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CL White',
 'CM Gautam',
 'DA Miller',
 'DA Warner',
 'DB Das',
 'DB Ravi Teja',
 'DJ Bravo',
 'DJ Hooda',
 'DJ Hussey',
 'DJG Sammy',
 'DPMD Jayawardene',
 'DR Smith',
 'DT Christian',
 'DW Steyn',
 'E Lewis',
 'EJG Morgan',
 'F du Plessis',
 'FY Fazal',
 'G Gambhir',
 'GC Smith',
 'GH Vihari',
 'GJ Bailey',
 'GJ Maxwell',
 'Gurkeerat Singh',
 'HH Gibbs',
 'HH Pandya',
 'HM Amla',
 'Harbhajan Singh',
 'IK Pathan',
 'Ishan Kishan',
 'J Bairstow',
 'J Botha',
 'JA Morkel',
 'JC Buttler',
 'JD Ryder',
 'JEC Franklin',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'JR Hopes',
 'K Goel',
 'KA Pollard',
 'KC Sangakkara',
 'KD Karthik',
 'KH Pandya',
 'KK Nair',
 'KL Rahul',
 'KM Jadhav',
 'KP Pietersen',
 'KS Williamson',
 'KV Sharma',
 'LA Pomersbach',
 'LMP Simmons',
 'LR Shukla',
 'LRPL Taylor',
 'M Ali',
 'M Kaif',
 'M Manhas',
 'M Vijay',
 'M Vohra',
 'MA Agarwal',
 'MC Henriques',
 'MD Mishra',
 'MEK Hussey',
 'MG Johnson',
 'MJ Guptill',
 'MJ Lumb',
 'MK Pandey',
 'MK Tiwary',
 'ML Hayden',
 'MN Samuels',
 'MP Stoinis',
 'MR Marsh',
 'MS Bisla',
 'MS Dhoni',
 'MV Boucher',
 'Mandeep Singh',
 'N Rana',
 'NLTC Perera',
 'NV Ojha',
 'OA Shah',
 'P Kumar',
 'P Negi',
 'P Shaw',
 'PA Patel',
 'PA Reddy',
 'PC Valthaty',
 'PD Collingwood',
 'PP Chawla',
 'Q de Kock',
 'R Ashwin',
 'R Bhatia',
 'R Dravid',
 'R McLaren',
 'R Sathish',
 'R Vinay Kumar',
 'RA Jadeja',
 'RA Tripathi',
 'RG Sharma',
 'RN ten Doeschate',
 'RR Pant',
 'RS Bopara',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'S Gill',
 'S Sohal',
 'SA Asnodkar',
 'SA Yadav',
 'SC Ganguly',
 'SE Marsh',
 'SK Raina',
 'SK Warne',
 'SM Katich',
 'SN Khan',
 'SP Fleming',
 'SP Goswami',
 'SP Narine',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Iyer',
 'SS Tiwary',
 'ST Jayasuriya',
 'STR Binny',
 'SV Samson',
 'SW Billings',
 'Salman Butt',
 'Shakib Al Hasan',
 'TL Suman',
 'TM Dilshan',
 'TM Head',
 'UBT Chand',
 'V Kohli',
 'V Sehwag',
 'V Shankar',
 'VVS Laxman',
 'WP Saha',
 'Y Nagar',
 'Y Venugopal Rao',
 'YK Pathan',
 'YV Takawale',
 'Yuvraj Singh']

In [150]:
new=delivery[delivery['batsman'].isin(x)]
runs=new.groupby('batsman')['batsman_runs'].sum()
balls=new.groupby('batsman')['batsman_runs'].count()

In [151]:
sr=(runs/balls)*100

In [152]:
sr=sr.reset_index()

In [155]:
sr.rename(columns={'batsman_runs':'SR'}, inplace=True)

In [156]:
sr

             batsman          SR
0     A Ashish Reddy  142.857143
1           A Mishra   89.756098
2          A Symonds  124.711908
3    AA Jhunjhunwala   99.541284
4         AB Agarkar  111.875000
..               ...         ...
169          Y Nagar  105.166052
170  Y Venugopal Rao  113.872832
171        YK Pathan  138.860326
172      YV Takawale  104.918033
173     Yuvraj Singh  125.283190

[174 rows x 2 columns]

In [161]:
#trace=go.Histogram(x=sr['SR'])
#trace=go.Histogram(x=sr['SR'], xbins={'size':10})
trace=go.Histogram(x=sr['SR'], xbins={'size':2, 'start':90, 'end':150})
data=[trace]
layout=go.Layout(title='Strike Rate Analysis', xaxis={'title':'Strike Rates'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [162]:
six=delivery[delivery['batsman_runs']==6]
six=six.groupby(['batting_team', 'over'])['batsman_runs'].count().reset_index()
six

            batting_team  over  batsman_runs
0    Chennai Super Kings     1             9
1    Chennai Super Kings     2            21
2    Chennai Super Kings     3            49
3    Chennai Super Kings     4            45
4    Chennai Super Kings     5            53
..                   ...   ...           ...
290  Sunrisers Hyderabad    16            31
291  Sunrisers Hyderabad    17            25
292  Sunrisers Hyderabad    18            49
293  Sunrisers Hyderabad    19            58
294  Sunrisers Hyderabad    20            44

[295 rows x 3 columns]

In [164]:
six.rename(columns={'batsman_runs':'count(six)'}, inplace=True)

In [165]:
six

            batting_team  over  count(six)
0    Chennai Super Kings     1           9
1    Chennai Super Kings     2          21
2    Chennai Super Kings     3          49
3    Chennai Super Kings     4          45
4    Chennai Super Kings     5          53
..                   ...   ...         ...
290  Sunrisers Hyderabad    16          31
291  Sunrisers Hyderabad    17          25
292  Sunrisers Hyderabad    18          49
293  Sunrisers Hyderabad    19          58
294  Sunrisers Hyderabad    20          44

[295 rows x 3 columns]

In [166]:
# Plot Heatman
trace=go.Heatmap(x=six['batting_team'], y=six['over'], z=six['count(six)'])
data=[trace]
layout=go.Layout(title='Six Heatman')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [172]:
dots=delivery[delivery['batsman_runs']==0]
dots=dots.groupby(['batting_team', 'over'])['batsman_runs'].count().reset_index()
dots.rename(columns={'batsman_runs':'count(dots)'}, inplace=True)

from plotly import tools

trace1=go.Heatmap(x=six['batting_team'], y=six['over'], z=six['count(six)'].values.tolist())
trace2=go.Heatmap(x=dots['batting_team'], y=dots['over'], z=dots['count(dots)'].values.tolist())
fig=tools.make_subplots(rows=1, cols=2, subplot_titles=["6's,", "0's"], shared_yaxes=True )
fig.append_trace(trace1, 1,1)
fig.append_trace(trace2, 1,2)
pyo.plot(fig)

C:\Users\Navneet Chauhan\anaconda3\anoconda\lib\site-packages\plotly\tools.py:460: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'temp-plot.html'